{% extends 'guestindex.html'%}
{% load static %}
{% block content %}

<style>
#tablecontainer{
    overflow-x: auto;
}
</style>

<h3>Books</h3>
<div class="row mt-4 ">
    <div class="col-lg-10 col-12 offset-lg-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Book List</h4>
          <div class="row">
            <div class=" col-12">
                <input type="text" class="form-control text-light" placeholder="search here..." onkeyup="myFunction()" id="search" name="search">
                <br>
              <div class="table-responsive">
                <table class="table" id="lists">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Description</th> 
                        </tr>
                    </thead> 
                  <tbody >
                    {% for i in mem %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.Bookname}}</td>
                        <td>{{i.Author}}</td>
                        <td>{{i.Description}}</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

$(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#lists tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("lists");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
     
      if (td) {
        txtValue = td.textContent || td.innerText ;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

    </script>
{% endblock %}